@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #2d3748;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/images/Abu%20saxiy%20center2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 900px;
    margin: 30px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container select {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #2d3748;
}

.container button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.8rem;
    color: #1e40af;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 50px;
}

.form-select {
    padding: 14px 16px;
    font-size: 1.1rem;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    background-color: #b5d7ed;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

.form-select:focus {
    outline: none;
    border-color: #1e40af;
    box-shadow: 0 0 10px rgba(30, 64, 175, 0.3);
    background-color: #fff;
}

.form-button {
    padding: 16px 32px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #1e40af;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin: 10px 0;
}

.form-button:hover {
    background-color: #38a169;
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(30, 64, 175, 0.4);
}

#pathResult {
    margin-top: 40px;
    padding: 25px;
    background-color: #f0fff4;
    border-left: 6px solid #38a169;
    border-radius: 10px;
    animation: fadeIn 0.6s ease-in;
    font-size: 1.2rem;
    color: #2d3748;
    word-break: break-word;
}

.error {
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Адаптивность */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 25px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .form-select,
    .form-button {
        font-size: 1rem;
    }

    .form-button {
        padding: 14px;
        width: 50%;
        align-self: center;
    }

    #pathResult {
        padding: 20px;
    }
}