

<!DOCTYPE html>
<html lang="{{ get_locale() }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _('Store Path Finder') }}</title>
  <link rel="shortcut icon" href="/static/images/Logo Abu saxiy.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/static/style.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSLVN9R4D2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CSLVN9R4D2');
  </script>
</head>

<body>
  <div class="header">
    <div class="language-selector">
      <select id="languageSelect">
        {% for code, name in LANGUAGES.items() %}
        <option value="{{ code }}" {% if get_locale_str==code %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
      </select>

    </div>

    <div class="toggle-btn">
      <button id="toggle-btn" type="button" data-hide="{{ _('Скрыть блоки') }}" data-show="{{ _('Показать блоки') }}">
        {{ _('Скрыть блоки') }}
      </button>
    </div>
    
    

  </div>

  <div id="blocks-container">
    <div class="container">
      <h1>{{ _('Поиск линий электроснабжения магазинов') }}</h1>
      <select id="block" onchange="loadRows()">
        <option value="">{{ _('Выберите блок') }}</option>
        {% for block in blocks %}
        <option value="{{ block }}">{{ block }}</option>
        {% endfor %}
      </select>

      <select id="row" onchange="loadStores()" disabled>
        <option value="">{{ _('Выберите ряд') }}</option>
      </select>

      <select id="store" onchange="getPath()" disabled>
        <option value="">{{ _('Выберите магазин') }}</option>
      </select>

      <div id="pathResult"></div>
      <div class="case">
        <a target="_blank" href="https://abdimuratovbahrom.github.io/tashkent-trade-center/">
          {{ _('Блоки 1,2,3') }}
        </a>
      </div>

    </div>
  </div>

  <!-- <div class="search-form">
    <form onsubmit="return doSearch(event)">
      <input type="text" id="keyword" placeholder="{{ _('Введите номер или название...') }}">
      <button type="submit">🔍</button>
    </form>
  </div>

  <div id="search-results"></div> -->

  <!-- <div class="footer">
    <p>&copy; 2025 {{ _('All rights reserved.') }}</p>
    <p>{{ _('Developed by') }} <a href="https://t.me/WolfOfAlpha" target="_blank"><img src="/static/images/wolf.jpg" alt="">@WolfOfAlpha</a></p>

  </div> -->

  <script src="/static/script.js"></script>
</body>

</html>